/*
        VESTIBO ALPHA === Facebook Stylesheet === LAMPI
        Última revisão: 25/04/2015
*/
.like{
	position: absolute;
	top: 85px;
	left: 5px;
}
/*
        =========================================================================
        =====        VESTIBO ALPHA === Facebook Stylesheet === LAMPI        =====
        =========================================================================
*/