/*
        VESTIBO ALPHA === Facebook Stylesheet === LAMPI
        Última revisão: 06/01/2014
*/
.like{
	position: fixed;
	left: 20px;
	top: 100px;
}
/*
        =========================================================================
        =====        VESTIBO ALPHA === Facebook Stylesheet === LAMPI  @@@      =====
        =========================================================================
*/