/*
        VESTIBO ALPHA === Global Stylesheet === LAMPI
        Última revisão: 15/01/2014 (Matheus Baroni)

>>>     Indice:
        
        1. Geral;
        2. Cabeçalho;
          2.1 Menu principal;
          2.2 Painel de controle;
        3. Corpo da página;
        4. Containers de texto;
        5. Rodapé;
        6. Login;
        7. Extras;
          7.1. Popup;

>>>     Cores:

        Branco: #FFF;
        Preto: #000;
        Cinza claro: #EEE;
        Cinza médio: #CCC;
        Cinza médio alternativo: #F5F5F5;
        Cinza escuro: #E5E5E5;
        Azul escuro: #003A91;
        Sombra: #AAA;


        =================
        === 1. Geral ===
        =================
*/
html, body {
  height: 100%;
  background-color: #F5F5F5;
}
body {
  outline: none;
  margin: 0;
  color: #000;
  font-family: "Roboto", sans-serif, Arial;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 500;
}
img {border: 0;}
a{
  margin: 0 15px;
  text-decoration: none;
  color: #003A91;
}
h1{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
}
p {
  orphans: 3;
  widows: 3;
  margin: 0 0 10px;
  text-decoration: bold;
}
/*
        ====================
        === 2. Cabeçalho ===
        ====================
*/
.logo{
  width: 161px;
  height: 80px;
}
.header-left {
  display: block;
  float: left;
  margin-left: 44px;
}
.header-right {
  display: block;
  float: right;
  margin-right: 44px;
}
.header{
  position: fixed;
  width: 100%;
  min-width: 500px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 86px;
  -webkit-box-shadow: 0px 1px 8px #aaa;
  -moz-box-shadow: 0px 1px 8px #aaa;
  -o-box-shadow: 0px 1px 8px #aaa;
  box-shadow: 0px 1px 8px #aaa;
  font-size: 18px;
}
.header-item{
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}
.header-item:hover, .header-item:active, .header-item:focus{
  background-color: #eee;
}
/*
        ==========================
        === 2.1 Menu principal ===
        ==========================
*/
@media (max-height: 500px) {
  .menu{
    overflow: scroll;
  }
}
.esc{
  position: fixed;
  background-color: #003A91;
  width: 250px;
  height: 100%;
  top: 86px;
  left: 0;
  bottom: 35px;
  margin-left: -250px;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
li{
  list-style-type: none;
}
.menu-container{
  margin-top: 10px;
  height: auto;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
.menu-container a{
  display: block;
  margin: 0;
  line-height: 40px;
  color: #eee;
  padding-left: 20px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.menu-container a:hover{
  background-color: #eee;
  color: #003A91;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.menu-anchor{
  width:32px;
  height:32px;
  padding: 24px 0;
  cursor: pointer;
}
.menu:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #003A91 transparent;
  left: 70px;
  bottom: 100%;
  margin-left: -15px;
}
.active{
  border-left: solid 4px #eee;
}
.menu{
  position: fixed;
  background-color: #003A91;
  width: 250px;
  top: 86px;
  left: 0;
  bottom: 35px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 1px 5px 8px #aaa;
  -moz-box-shadow: 1px 5px 8px #aaa;
  -o-box-shadow: 1px 5px 8px #aaa;
  box-shadow: 1px 5px 8px #aaa;
}
/*
        ==============================
        === 2.2 Painel de controle ===
        ==============================
*/
.user-anchor{
  cursor: pointer;
  margin: 13px 0;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  -o-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
}
.user-esc{
  position: fixed;
  background-color: #fff;
  width: 150px;
  height: 100%;
  top: 86px;
  right: 44px;
  height: 0;
  overflow: hidden;
  padding: 0;
  font-size: 16px;
  line-height: 1.4em;
  font-family: sans-serif, Arial;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.user-menu{
  position: fixed;
  background-color: #fff;
  min-width: 150px;
  max-width: 300px;
  top: 86px;
  right: 44px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 1px 5px 8px #aaa;
  -moz-box-shadow: 1px 5px 8px #aaa;
  -o-box-shadow: 1px 5px 8px #aaa;
  box-shadow: 1px 5px 8px #aaa;
}
.user-menu:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  right: 22px;
  bottom: 100%;
  margin-left: 15px;
}
.user-container{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.user-container p{
  color: #000;
  padding: 5px 10px;
}
.user-container a{
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
}
.user-container a:hover{
  color: #fff;
  background-color: #003A91;
}
/*
        ==========================
        === 3. Corpo da página ===
        ==========================
*/
.page {
  display: block;
  right: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 500px;
  position: absolute;
}
.lead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}
.img-circle {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.centered{
  text-align: center;
}
.body{
    padding: 80px 0 35px 0;
}
.co{
  padding: 0 10px;
}
.co p{
  font-size: 16px;
}
@media (min-width: 768px) {
  .co{
    display: inline-block;
    width: 30%;
  }
  .content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1170px;
  }
}
/*
        ==============================
        === 4. Containers de texto ===
        ==============================
*/
.blue-container{
  color:#eee;
  background-color: #003A91;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.simple-container{
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.content {
  padding: 50px 15px;
  margin-right: auto;
  margin-left: auto;
}
.cad-group{
  padding-top: 40px;
  padding-bottom: 20px;
}
/*
        =================
        === 5. Rodapé ===
        =================
*/
.footer{
  position: fixed;
  width: 100%;
  min-width: 500px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: auto;
  -webkit-box-shadow: 0px -1px 8px #aaa;
  -moz-box-shadow: 0px -1px 8px #aaa;
  -o-box-shadow: 0px -1px 8px #aaa;
  box-shadow: 0px -1px 8px #aaa;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
}
.f-left{
  float: left;
  margin-left: 44px;
}
.f-right{
  float: right;
  margin-right: 44px;
}
/*
        ================
        === 6. Login ===
        ================
*/
.login-container{
  background-color: #E5E5E5;
  margin-top: 85px;
  padding: 30px 30px;
  -webkit-box-shadow: 0px 1px 8px #aaa;
  -moz-box-shadow: 0px 1px 8px #aaa;
  -o-box-shadow: 0px 1px 8px #aaa;
  box-shadow: 0px 1px 8px #aaa;
}
@media (min-width: 768px) {
  .login-container{
    position: absolute;
    width: 500px;
    margin-left: -250px;
    left: 50%;
  }
}
/*
        =================
        === 7. Extras ===
        =================

        ==================
        === 7.1. Popup ===
        ==================
*/
#popup{
  top: 0; left: 0;
  position: fixed;
  width: 100%; height: 120%;
  background-color: rgba(0,0,0,0.7);
  display: block;
}
.popup-box{
  width: 550px;
  margin: 50px auto;
  text-align: center;
}
.popup-box-content{
  border-radius: 5px;
  background-color: #FFF;
  padding: 15px;
}
/*
        =======================================================================
        =====        VESTIBO ALPHA === Global Stylesheet === LAMPI        =====
        =======================================================================
*/