/*
        VESTIBO ALPHA === Classic Stylesheet === LAMPI
        Última revisão: 06/01/2014
*/
html, body {
  height: 100%;
  background-color: #F5F5F5;
}
body {
  outline: none;
  margin: 0;
  color: #000;
  font-family: "Roboto", sans-serif, Arial;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 500;
}
img {border: 0;}
a{
  text-decoration: none;
  color: #003A91;
}
h1{
  color: #003A91;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  padding: 10px;
}
p {
  orphans: 3;
  widows: 3;
  margin: 0 0 10px;
  text-decoration: bold;
}
.basic-content{
  position: relative;
  width: 650px;
  top: 0;
  left: 50%;
  margin-left: -325px;
  text-align: justify;
  margin-top: 20px;
}
.logo{
	position: relative;
	left: 50%;
	margin-left: -80px;
  width: 161px;
  height: 80px;
}
.header{
  position: absolute;
  width: 100%;
  min-width: 500px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 80px;
  -webkit-box-shadow: 0px 1px 2px #ccc;
  -moz-box-shadow: 0px 1px 2px #ccc;
  box-shadow: 0px 1px 2px #ccc;
  font-size: 18px;
}
.page {
  display: block;
  right: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 500px;
  position: absolute;
}
.lead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}
.centered{
  text-align: center;
}
.body{
    padding: 80px 0 35px 0;
}
.footer{
  position: absolute;
  width: 100%;
  min-width: 500px;
  left: 0;
  right: 0;
  background-color: #fff;
  height: auto;
  -webkit-box-shadow: 0px -1px 2px #ccc;
  -moz-box-shadow: 0px -1px 2px #ccc;
  box-shadow: 0px -1px 2px #ccc;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
}
.f-left{
  float: left;
  margin-left: 44px;
}
.f-right{
  float: right;
  margin-right: 44px;
}
.blue{
	color: #003A91;
}
.circle-a{
  margin: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px #fff solid;
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
}
.co{
  padding: 0 15px;
}
.co p{
  font-size: 18px;
}
@media (min-width: 768px) {
  .co{
    display: inline-block;
    width: 44%;
  }
}
/*
        ========================================================================
        =====        VESTIBO ALPHA === Classic Stylesheet === LAMPI        =====
        ========================================================================
*/