/*
        VESTIBO ALPHA === Stylesheet Mestre === LAMPI
        Última revisão: 01/12/2014

>>>     Indice:
        
        1. Global;
        2. Cabeçalho;
        3. Corpo da página;
        4. Containers de texto;
        5. Rodapé;
        6. Login.

>>>     Cores:

        Branco: #FFF;
        Preto: #000;
        Cinza claro: #EEE;
        Cinza médio: #CCC;
        Cinza médio alternativo: #F5F5F5;
        Cinza escuro: #E5E5E5;
        Azul escuro: #003A91;
        Sombra: #aaa.


        =================
        === 1. Global ===
        =================
*/
html, body {
  height: 100%;
  background-color: #F5F5F5;
}
body {
  outline: none;
  margin: 0;
  color: #000;
  font-family: "Roboto", sans-serif, Arial;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 500;
}
img {border: 0;}
a{
  margin: 0 15px;
  text-decoration: none;
  color: #003A91;
}
h1{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
}
p {
  orphans: 3;
  widows: 3;
  margin: 0 0 10px;
  text-decoration: bold;
}
/*
        ====================
        === 2. Cabeçalho ===
        ====================
*/
.header{
  position: fixed;
  width: 100%;
  min-width: 500px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 86px;
  -webkit-box-shadow: 0px 1px 8px #aaa;
  -moz-box-shadow: 0px 1px 8px #aaa;
  box-shadow: 0px 1px 8px #aaa;
  font-size: 18px;
}
.header-left {
  display: inline-block;
  float: left;
  margin-left: 44px;
}
.header-right {
  display: inline-block;
  float: right;
  margin-right: 44px;
}
.header-left a, .header-right a{
  margin: 0;
}
.logo{
  width: 161px;
  height: 80px;
}
.anchor{
  width: 80px;
  height: 80px;
}
nav ul{
  padding: 10px 0;
  margin: 0;
}
.nav-item{
  display: inline-block;
}
.nav-item:hover, .nav-item:focus{
  background-color: #eee;
}
.menu-anchor{
  width: auto; 
  height: auto;
  display: inline-block;
  cursor: pointer;
}
.menu-content:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #003A91 transparent;
  left: 60px;
  bottom: 100%;
  margin-left: -15px;
}
.menu-content{
  position: fixed;
  background-color: #003A91;
  width: 250px;
  max-height: 0;
  overflow: hidden;
  top: 80px;
  left: 0;
  bottom: 35px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
    -webkit-box-shadow: 1px 5px 8px #aaa;
    -moz-box-shadow: 1px 5px 8px #aaa;
    box-shadow: 1px 5px 8px #aaa;
}
.menu-content ul li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-content ul li a{
  padding: 5px 15px;
  margin: 0;
  display: inline-block;
  width: 220px;
  max-height: 30px;
  color: #eee;
  text-transform: uppercase;
  font-size: 20px;
}
.menu-content ul li a:hover, .menu-content ul li a:focus{
  background-color: #eee;
  color: #003A91;
}
.active a{
  border-left: 4px solid #eee;
}
.menu-anchor:focus ~ .menu-content{
  max-height: 100%;
}
@media (max-height: 500px) {
  .menu-content{
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.user-img-circle{
  cursor: pointer;
  margin: 13px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
}
/*
        ==========================
        === 3. Corpo da página ===
        ==========================
*/
.page {
  display: block;
  right: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 500px;
  position: absolute;
}
.lead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}
.img-circle {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.centered{
  text-align: center;
}
.body{
    padding: 80px 0 35px 0;
}
.co{
  padding: 0 10px;
}
.co p{
  font-size: 16px;
}
@media (min-width: 768px) {
  .co{
    display: inline-block;
    width: 30%;
  }
  .content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1170px;
  }
}
/*
        ==============================
        === 4. Containers de texto ===
        ==============================
*/
.blue-container{
  color:#eee;
  background-color: #003A91;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.simple-container{
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.content {
  padding: 50px 15px;
  margin-right: auto;
  margin-left: auto;
}
/*
        =================
        === 5. Rodapé ===
        =================
*/
.footer{
  position: fixed;
  width: 100%;
  min-width: 500px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: auto;
  -webkit-box-shadow: 0px -1px 8px #aaa;
  -moz-box-shadow: 0px -1px 8px #aaa;
  box-shadow: 0px -1px 8px #aaa;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
}
.f-left{
  float: left;
  margin-left: 44px;
}
.f-right{
  float: right;
  margin-right: 44px;
}
/*
        ================
        === 6. Login ===
        ================
*/
.login-container{
  background-color: #E5E5E5;
  margin-top: 85px;
  padding: 30px 30px;
  -webkit-box-shadow: 0px 1px 8px #aaa;
  -moz-box-shadow: 0px 1px 8px #aaa;
  box-shadow: 0px 1px 8px #aaa;
}
@media (min-width: 768px) {
  .login-container{
    position: absolute;
    width: 500px;
    margin-left: -250px;
    left: 50%;
  }
}
/*
        =======================================================================
        =====        VESTIBO ALPHA === Stylesheet Mestre === LAMPI        =====
        =======================================================================
*/