/*@media (max-height: 500px) {
	.menu{
		overflow: scroll;
	}
}
.esc{
	position: fixed;
	background-color: #003A91;
	width: 250px;
	height: 100%;
	top: 80px;
	left: 0;
	bottom: 35px;
	margin-left: -250px;
	padding: 0;
	text-transform: uppercase;
	font-size: 20px;
	font-family: Arial, sans-serif;
	-webkit-transition:	all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
li{
	list-style-type: none;
}
.menu-container{
	margin-top: 10px;
	height: auto;
	width: 100%;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: Arial, sans-serif;
}
.menu-container a{
	display: block;
	margin: 0;
	line-height: 50px;
	color: #eee;
	padding-left: 20px;
	-webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.menu-container a:hover{
	background-color: #eee;
	color: #003A91;
	-webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.menu-anchor{
	width:32px;
	height:32px;
	padding: 24px 0;
	cursor: pointer;
}
.menu:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-width: 15px;
  	border-style: solid;
  	border-color: transparent transparent #003A91 transparent;
	left: 60px;
	bottom: 100%;
	margin-left: -15px;
}
.active{
	border-left: solid 4px #eee;
}
.menu{
	position: fixed;
	background-color: #003A91;
	width: 250px;
	top: 80px;
	left: 0;
	bottom: 35px;
	margin: 0;
	padding: 0;
	-webkit-transition:	all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
  	-webkit-box-shadow: 1px 5px 8px #aaa;
  	-moz-box-shadow: 1px 5px 8px #aaa;
    box-shadow: 1px 5px 8px #aaa;
}*/

