.q-box{
	width: 100%;
	height: auto;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 8px #aaa;
    -moz-box-shadow: 0px 1px 8px #aaa;
    box-shadow: 0px 1px 8px #aaa;
    margin: 30px 0;
}
@media (min-width: 768px) {
	.q-box{
		width: 100%;
		border-radius: 8px;
	}
  }
}
.q-top-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.q-alt-box{
	background-color: #E5E5E5;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.alt{
	padding: 20px 20px;
}
.top{
	padding: 20px 20px;
}
.top hr{
	margin: 20px -20px;
	border: 0;
	border-top: 2px solid #E5E5E5;
}
.alt:after {
	content: "";
	clear: both;
}

input[type=radio] {
	display:none;
}

label {
	width: 100%;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
}
.alt input + label {
	background-color: #E5E5E5;
	margin: 0 -20px;
	padding: 10px 20px;
}
.alt input + label:hover {
	background-color: #003A91;
	color: #E5E5E5;
}

.alt input:checked + label {
	background-color: #003A91;
	color: #E5E5E5;
}