html,body,div
{
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Helvetica, Arial, Verdana;
	color: #eee;
	background-color: #dededc;
}
body
{
	width: 100%;
	height: 100%;
}
div
{
	position: absolute;
	float: left;
}
#box
{
	background-color: #003A91;
	margin: 0px 0px 0px -355px; 
	float: none;
	left: 50%;
	height: auto;
	min-height: 100%;
	width: 640px;
	box-shadow: 0px 0px 15px #333;
}
hr{
	border-color: #dededc;
}
#logo{
	margin-top: 10px;
	width: 500px;
	height: 175px;
}
.btn{
	width: 100%;
	font-size: 16;
	padding: 10px;
	margin: 20px 0;
}
.campo{
	font-size: 16;
	width: 100%;
	padding: 10px;
	margin: 5px 0;
}